@import "compass/reset";
@import "compass/css3/gradient";

$spacing: 20px;
#container {
	font-family: Helvetica;
	letter-spacing: 1px;
	// font-size: 13px;
	line-height: 1.5em;
	margin-top: $spacing;
	width: 100%;
	@include linear-gradient(color-stops(#FFF, #EEE), top);
	border-bottom: 1px solid #AAA;
	padding: $spacing 0;
	width: 100%;
}

.topbar {
	> div {
		padding: 0 $spacing;
	}
}

div.wrapper {
	max-width: 400px+$spacing;
	width: auto;
	padding: 0 $spacing;
	margin: $spacing auto;
}
p {
	display: block;
	margin: 10px 0;
	&.important {
		text-align: center;
		font-size: 1.5em;
		a {
			font-size: inherit;
		}
		margin: 20px 0;
	}
}
small {
	font-size: 0.7em!important;
}
